html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.button {
  background: #0051ae;
  color: #fff;
  border: none;
  border-radius: 0.5em;
  padding: 0.5em 1em;
  font-size: 1em;
  cursor: pointer;
}

.m4 {
  margin: 4em;
}
